$moccasin: #F5EED9;
$darkskyblue: #8EBDC4;
$melon: #FCAAA8;
$lapislazuli: #3565A2;
$maximumredpurple: #9E3D7E;
$x11gray: #BCB1C3;
$gainsboro: #E0D2E1;
$trolleygrey: #7F797E;
$darkgrey: #ADA8AA;
$grey: #FAF7F5;
$lightgrey: #D1CBCD;
$antiquewhite: #F9F1F1;
$offwhite: #F9F9F9;
$bluegrey: #758092;
$grid-columns: 12;
$grid-max-width: 1200px;
$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width:768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";